{% extends "base.html" %}

{% block title %}Reservations{% endblock %}

{% block content %}
    <h2>Reservations</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Table</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.customer.name }}</td>
                <td>{{ reservation.table.number }}</td>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
