{% extends 'base.html' %}
{% block content %}
<h2>Your Todos</h2>
<a class="btn btn-success mb-3" href="/todos/new/">Add New Todo</a>
<ul class="list-group">
    {% for todo in todos %}
    <li class="list-group-item">
        <a href="/todos/{{ todo.id }}/">{{ todo.title }}</a>
        {% if todo.status %}
        <span class="badge badge-success float-right">Completed</span>
        {% else %}
        <span class="badge badge-warning float-right">Pending</span>
        {% endif %}
    </li>
    {% empty %}
    <li class="list-group-item">No todos available</li>
    {% endfor %}
</ul>
{% endblock %}
